:root {
    --background-color: #FBF2ED;
    --primary-color:black;
    --secondary-color: gray;
    --hover-color:blue;
    --box-color:#CDD5C6;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}


/* Structure*/
#content {
    background: var(--background-color);
    padding: 5px;
    width: 80%;
    /*Center horizontally*/
    margin: auto;
    border-radius: 5px;

}
#menu-items {
    display: flex;;
    flex-wrap: wrap;
}
.item {
    width: 40%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#main-header {
    padding: 5px;
    border-radius: 2px;
    margin: 1px;
    background: var(--background-color);
}

#main-header h1 {
    text-align: center;
    color: var(--primary-color);
   
}
.col1of3 {
    text-align: center;
    color:var(--background-color);
}

#main-content a {
    text-decoration: none;
}


/*Navigation*/

#main-nav ul {
    padding-left: 0;
    text-align:center;
    
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    
    
}
#main-nav a {
    text-decoration: none;
    color: var(--primary-color);
    
    
}
#main-nav a:hover
{
    color: var(--hover-color);
}
#nav-items li {
    padding: 15px;
    text-align: center;
}
#hamburger {
    padding: 10px;
}
#hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 6px 0;
}
.hide {
    display: none;
}

.info-section {
    display: flex;
}



/*form*/
form {
    margin: 0 2%;
  }
  
  form label {
    font-size: 0.75em;
    display: block;
  }
  
  form input:not([type="checkbox"]):not([type="radio"]),
  form textarea,
  form button,
  select {
    font-size: 0.75em;
    width: 200px;
    padding: 5px;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 20px;
    padding: 5px;
    width: 20px;
    height: 20px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
  
  .inline {
    display: inline;
  }
  
  
  #form-bagel p {
    margin-bottom: 1%;
  }

  .hidden {
    display: none;
  }

/*Typography*/
h1,
h3 {
    color: var(--secondary-color);
}
h2 {
    text-align: center;
}
p {
    color: var(--primary-color)
}




@media (min-width: 900px) {

    .item {
        width: 80%;
        margin: auto;
    }

    #main-nav ul,
    .content {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }
    .col1of3 {
        flex: 1;
    }
    .content img{
        max-width: 80%;
        /*for centering*/
        display: block;
        margin: auto;
    }
    .content section {
        padding: 5px 20px; 
    }
    #hamburger {
        display: none;
    }
    #nav-items {
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: space-evenly;
    }
}