body{
    font-family: Arial, Helvetica, sans-serif;
    background: #57b9f5;
}
/* Structure*/
#content {
    padding: 5px;
    width: 80%;
    /*Center horizontally*/
    margin: auto;
    border-radius: 5px;

}
/* only styles the main header, commas mean applies to both, space means its a parent*/
#main-header,
#main-content, 
#main-footer {
    background-color: #f8f3f0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px; /*this adds a space between each of the content things, 
                            the blue line between the white*/
}

/* Main Navigation*/

#main-nav ul {
    /*Remove list indent*/
    padding-left: 0; 
}
#main-nav li {
    /*Remove bullet poing*/
    list-style-type: none; 
    background: #f1a177;
    padding: 5px;
    border-bottom: 1px solid #302f2f;
}

#main-nav a {
    /*removes underline for link*/
    text-decoration: none; 
    color: white;
}

/*Typography*/
h1 {
    color: darkslategray;
    text-align: center;
}

/* For larger resolutions and always goes on the very bottom. What is on the bottom overrides
    everything above*/

/*Columns*/

@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }
    .columns section {
        padding: 5px 20px; /* first one is top and bottom, second in left and right*/
    }
    .one, 
    #main-nav li {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .columns img{
        max-width: 80%;
        /*for centering*/
        display: block;
        margin: auto;
    }
    #main-nav li {
        text-align: center;
        border-bottom: 2px solid transparent; /*this gets rid of the space for the bottom border*/
    }
    #main-nav li:hover {
        border-bottom: 2px solid black;
    }
}

