
/* Structure */
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /* Trees */
  
  .tree {
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    width: auto;
    height: auto;
  }
  
  #trees h3 {
    color: white;
    text-align: center;
  }
  
  #trees img {
    max-width: 80%;
    display: block;
    margin: auto;
  }
  
  /* Typography */
  
  
  h1,
  h3 {
    text-align: center;
  }
  
  
  .hidden {
    display: none;
  }
  
  /* Larger Resolutions */
  
  @media only screen and (min-width: 600px) {
    
    .columns {
      display: flex;
      flex-wrap: wrap;
      align-items: right;
    }
    
    #trees {
      display: flex;
    }
    .tree {
      flex: 1;
    }
  }