body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
/*Structure*/
#trees {
    margin: auto;
    padding: 5px;
    background: gray;
    width: 95%;
}
.column{
    padding: 10px;
    background-color: white;
    margin: 10px;
}

.column img {
    margin: auto;
    padding: 5px;
}

/*modal from w3 Schools*/
#dialog section {
    padding: 10px;
    background: white;
    margin: 10px;
  }


/*Typography*/
h1,
h2 {
    text-align: center;
}
.columng {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .flex-container {
     display: flex;
     flex-wrap: wrap;
    }
    
 }