body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
/* Structure*/
#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    /*Center horizontally*/
    margin: auto;
    border-radius: 5px;

}


/*Typography*/
h1 {
    color: darkslategray;
}

.special {
    background: lightpink;
    size: 2em;
    color: magenta;
    border: 2px dotted magenta;
}