body{
    font-family: Arial, Helvetica, sans-serif;
    background: #c3d1c3;
}
/* Structure*/
#content {
    background: #678f98;
    padding: 5px;
    width: 100%;
    margin: auto;

}
.column {
    background: white;
    margin: 15px;
    border-radius: 3px;
    padding: 5px;
}


#main-content {
    text-align: center;
    
}
.col1of3 {
    background-color: #dde3e1;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/*links*/
a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
    
}
/* Main Navigation */

#main-nav ul {
    padding-left: 0px;
    text-align: center;
}

#main-nav li {
    list-style-type: none;
    
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#main-nav a:hover {
    border-bottom: 1px solid blue;
}


/*Hamburger*/

#hamburger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}


.column {
    display: none;
}

.active {
    display: block;
}

#col1,
#col2 {
    width: 80%;
    background-color: lightblue;
    border: 2px solid black;
    margin: auto;
}



.padded-area {
    padding: 5px;
    margin: auto;
}
/*Typography*/
h1 {
    color: black;
    text-align: center;
}
h2 {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
}
p {
    color: black;
}

/*Larger Resolution*/
@media (min-width: 900px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    .columns section {
        padding: 5px 20px; 
        flex: 30%;
        flex-grow: 0;
    }
    .col1of3 {
        flex: 1;
    }
    .flex img{
        max-width: 80%;
        /*for centering*/
        display: block;
        margin: auto;
    }
    #main-nav li {
        display: inline-block;
    }
        
    #hamburger {
        display: none;
    }
    .hide-small {
        display: block;
    }
}