/*Structure*/
:root {
    --position: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
.column {
    background: lightblue;
    margin: auto;
    width: 80%;
}

#img {
    max-width: 80%;
    max-height: 100%;
}
#bounce-ball,
#yoga-pics {
    border-radius: 3px;
    margin: 60px;
}

.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.image-container img {
    margin-right: 10px;
    cursor: pointer;
}
.details {
    border: 1px solid black;
    padding: 10px;
}

/*Text*/
h1,
h2 {
    text-align: center;
}
#ball-img {
    position: relative;
    margin: 0px;
    top: var(--position);
}


/*Larger Resolution*/

@media only screen and (min-width: 600px) {
   .flex-container {
    display: flex;
   }
}
