:root {
    --background-color: white;
    --primary-color:black;
    --secondary-color: darkgray;
    --hover-color:blue;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);

}
/* Structure*/
#content {
    background: var(--background-color);
    padding: 5px;
    width: 80%;
    /*Center horizontally*/
    margin: auto;
    border-radius: 5px;

}

#main-header {
    padding: 5px;
    border-radius: 2px;
    margin: 1px;
    background: var(--background-color);
}

#main-header h1 {
    text-align: center;
    color: var(--primary-color);
}
.two {
    text-align: center;
}


/*Navigation*/

#main-nav ul {
    padding-left: 0;
    text-align:center;
    
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    
    
}
#main-nav a {
    text-decoration: none;
    color: var(--primary-color)
    
    
}
#main-nav a:hover
{
    color: var(--hover-color);
}

/*Typography*/
h1 {
    color: var(--secondary-color);
}

@media (min-width: 900px) {

    #main-nav ul,
    .flex {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }
    .one,
    .two,
    .three {
        flex: 1;
    }
    .one img,
    .three img {
        max-width: 80%;
        /*for centering*/
        display: block;
        margin: auto;
    }
}