/*Structure*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
section{
    background: gray;
    margin: auto;
    align-items: center;
    border-radius: 3px;
}
.advertisement {
    padding: 10px;
    border-radius: 3px solid black;
}
#advertisement p {
    padding: 10px;
    margin: auto;
    align-items: center;
}
#images-container  {
    margin: 10px;
    padding: 10px;
    
}
#pictures {
    display: block;
    align-items: center;
    text-align: center;
}




/*Text*/
h1,
h2, 
p {
    text-align: center;
}


/*Larger Resolution*/

@media only screen and (min-width: 600px) {
   .flex-container {
    display: block;
   }
   
}
