body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
/* Structure*/
#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    /*Center horizontally*/
    margin: auto;
    border-radius: 5px;

}

#main-header {
    padding: 5px;
    border-radius: 2px;
    margin: 1px;
    background: white;
}

#main-header h1 {
    text-align: center;
    color: Black;
}
.one, 
.two {
    background-color: white;
    padding: 5px;
    margin: 1px;
    border-radius: 1px;
}

/*Navigation*/

#main-nav ul {
    padding-left: 0;
    text-align:center;
    
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    
    
}
#main-nav a {
    text-decoration: none;
    color: black;
    
    
}
#main-nav a:hover
{
    color: blue;
}

/*Typography*/
h1 {
    color: darkslategray;
}

@media (min-width: 900px) {

    #main-nav ul,
    .flex {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .two img {
        max-width: 80%;
        /*for centering*/
        display: block;
        margin: auto;
    }
}