:root {
    --square-top: 0px;
    --ball-color: skyblue;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
/* Structure*/
#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    /*Center horizontally*/
    margin: auto;
    border-radius: 5px;

}

/*square*/

#square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: var(--ball-color);
}

.rainbow {
    animation-name: colorAnim;
    animation-duration: 4s;
}

@keyframes colorAnim {
    0%   {
        background-color: red;
    }
    25%  {
        background-color: yellow;
    }
    50%  {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}

/*Typography*/
h1 {
    color: darkslategray;
}